body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #b1b1b1;
}

#game-title {
    font-size: 42px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;  
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    max-width: 100%;
    background-size: cover;
    gap: 2px;
   
}

.tile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    font-size: 44px;
    color: #333;
    text-align: center;
    line-height: 100px;
    transition: transform 0.2s ease-in-out; 
    will-change: transform; 
}

.tile img {
    max-width: 200%; 
    width: 200px;
    height: auto;
    border: 1px solid black;
    text-align: center;
    font-size: 24px;
   
}

.acoes {
display: inline-flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

.acoes button {
    padding: 20px 20px;
    font-size: 27px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin:5px;
}

.button-container button:hover {
    background-color: #050505;
}

#hint-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hint-image {
    width: 500px;
    object-fit: cover;
    display: none;

}
.tile {
    position: flex; 
}

.tile-number {
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 44px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50%;
    z-index: 1;
    
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 31px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #ccc;
    border-radius: 4px;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #000000;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 10px;
    top: 6px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#container::before {
    content: "";
    position: absolute;
    top: 7.8%;
    left: 34.4%;
    width: 31.2%;
    height: 64.4%;
    background-image: url("../../images/full.jpg");
    background-size: cover;
    opacity: 0.5; 
    z-index: -1; 
}